:root {
  --color-button: #00a335;
  --color-button-hover:#1e863f;
  --color-input-border: #e3e1e1;
  --color-input-selection: #0E6AF3;
  --black-1: #2c2c2c;
  --black-2: #807a7a;
  --black-3: #cdd1d9;
  --text-btn: white;
  --color-background: #f0f0f0;
  --color-background-screen: #ffffff;
}
